.header {
    background: #212121;
    padding: 20px 0;
}

.header ul {
    display: flex;
    list-style: none;
}

.header ul li {
    padding: 0 20px;
}

.logo a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
}

.header ul li a {
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 5px;
}